<!DOCTYPE html>
<html>
<head>
<title> Learn Vue </title>
</HEAD>
<BODY>
    <div id="root">
  <input type = 'text' id="input" v-model="message">
  <P> Vous avez saisi: {{ message }} </P>

  <ul>
    <li v-for="nom in professeurs">{{ nom }}</li>
  </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>

    <script> 
        var app = new Vue({
          el : '#root',
          data :{
              message: 'Le SIO c\'est rigolo',
              professeurs:['Robert','D\'amico','Roubeau','Vigny']
          }
        })
    </script>
    
</BODY>
</HTML>

